<div class="d-flex align-items-center mb-2"
     [ngClass]="{ 'justify-content-end': isMine, 'justify-content-start': !isMine }">

  <!-- Message Bubble -->
  <div class="message-bubble border p-2 rounded "
       [ngClass]="{ 'my-message': isMine, 'their-message': !isMine }"
  >
    <span class="fw-medium">{{ message }}</span>
    <div class="small mt-1">
      <i *ngIf="!isSeen" class="fa-regular fa-clock"></i>
      <i *ngIf="isSeen" class="fa fa-check-circle text-success"></i>
      {{ timestamp }}
    </div>
  </div>
</div>
