<div class="container-fluid m-2">
  <div class="row h-100">
    <!-- Sidebar with User List -->
    <div class="users-list col-md-3 bg-light border d-flex flex-column p-3">
      <h5 class="mb-3">Online Users</h5>
      <app-user-list
        [users]="users"
        (userSelected)="handleUserSelected($event)"
      ></app-user-list>
      <div class="mt-auto">
        <div class="fw-bold border-bottom border-top border-2 mb-2 py-2">
          <span class="fw-bold ">You:&nbsp;</span>
          <span>{{ profile?.firstName + ' ' + profile?.lastName }}</span>
        </div>
        <button class="btn btn-success w-100 mb-2">Create new group</button>
        <button class="btn btn-danger w-100">Delete all chats</button>
      </div>
    </div>

    <!-- Chat Panel -->
    <div class="col-md-9 d-flex flex-column">
      <div class="chat-panel flex-grow-1 border p-3 overflow-auto">
        <ng-container  *ngIf="selectedUser">
          <app-message
            *ngFor="let msg of messages"
            [message]="msg.content"
            [isSeen]="msg.isSeen"
            [isMine]="msg.isMine"
            [timestamp]="msg.timestamp">
          </app-message>
        </ng-container>
      </div>
      <div class="input-group px-0 py-2 border-top">
        <input type="text" class="form-control" [(ngModel)]="content" placeholder="Type a message..." />
        <button class="btn btn-primary" (click)="sendMessage()">
          <i class="fa fa-paper-plane"></i> Send
        </button>
      </div>
    </div>
  </div>
</div>
